# Python
*.pyc
*.pyo
__pycache__/
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec
.Python

# Virtualenv
venv/
env/
.venv/
.env/

# Django
*.log
*.pot
*.pyc
*.pyo
__pycache__/
db.sqlite3
/staticfiles
/media
*.bak

# Django migrations
*/migrations/*
!*/migrations/__init__.py

# Environment variables
.env

# IDEs and Editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Mac OS X
.DS_Store

# Windows
Thumbs.db

# JetBrains
.idea/

# Python environment files
*.env
*.venv
*.virtualenv
*.pyenv
pip-log.txt
pip-delete-this-directory.txt

# Coverage reports
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.coveragerc

# MySQL or PostgreSQL
*.sql
*.sqlite3

# Docker
*.dockerfile
docker-compose.override.yml

# pytest
.cache
